!!! 5
html
  head
    include includes/head
    link(href='css/examples.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='js/examples.js')
    style
      body {
        overflow-y:scroll;
      }

  body
    include includes/toppanel
    .container
      .row
        .span3
          .well
            ul#cartLinkList.nav.nav-list
              li.nav-header
                | Cartesian series
            ul#noncartLinkList.nav.nav-list
              li.nav-header
                | Non-cartesian series
            ul#compLinkList.nav.nav-list
              li.nav-header
                | Components
            //- ul#coreLinkList.nav.nav-list
            //-   li.nav-header
            //-     | Core features
        .span9
          h3#example_header
          .btn-group.stack-unstack-buttons
            button#stack.btn.btn-mini stacked
            button#group.btn.btn-mini grouped
          #example(style='width:600px')
            #example_view(data-language='javascript')

          h3 Code for example
          pre
            code#example_js(data-language='coffeescript')
      // hr
    // script(type='text/javascript')
    //   $(function() {
    //   $("[data-original-title]").tooltip();
    //   });

    hr
