build/
node_modules/
/nbproject/
.project
*.swp
.DS_Store
.sass-cache/
.idea/
examples/css/charts.css
examples/js/tactile.js
.rvmrc
.powrc
.log
*.orig
.tddium*
.tddium
test/cov/*
test/reports/*
test/docs/*
npm-debug.log
