.rvmrc
.powrc
.log
*.orig
npm-debug.log
.project
*.swp
.DS_Store
.sass-cache/
.idea/


build/
dist/
node_modules/
/nbproject/

examples/public/css/
examples/public/docs/
examples/public/js/

test/cov/*
test/reports/*
test/docs/*
