</div>
</div>

<script src="vendor/js/jquery.js"></script>
<script src="vendor/js/underscore.js"></script>
<script src="vendor/js/backbone.js"></script>
<script src="assets/d3.js"></script>
<script src="vendor/js/bootstrap.js"></script>
<script src="vendor/js/coffee-script.js"></script>
<script src="vendor/js/jquery-ui.js"></script>
<script src="vendor/rainbow/rainbow.js"></script>
<script src="vendor/rainbow/language/generic.js"></script>
<script src="vendor/rainbow/language/coffeescript.js"></script>

<script src="assets/tactile.js" defer></script>
<!--<script src='assets/examples.js' defer></script>-->