meta(http-equiv='content-type', content='text/html;charset=UTF-8')
title #{name}
link(href='libs/css/bootstrap.css', rel='stylesheet', type='text/css')
link(href='libs/css/rainbow-theme.css', rel='stylesheet', type='text/css')
link(rel='stylesheet', type='text/css', href='libs/css/plugins.css')
link(rel='stylesheet', type='text/css', href='libs/css/jquery-ui.css')


style
  .icon-white {background-image: url("libs/img/glyphicons-halflings-white.png")}

script(type='text/javascript', src='libs/underscore.js')
script(type='text/javascript', src='libs/jquery/jquery-min.js')
script(type='text/javascript', src='libs/backbone.js')
script(type="text/javascript", src="libs/jquery-ui.js")
script(type='text/javascript', src='libs/d3.js')
script(type='text/javascript', src='libs/rainbow-custom.min.js')
script(type='text/javascript', src='libs/bootstrap.min.js')

script(type='text/javascript', src='js/#{name}.js')
link(href='css/#{name}.css', rel='stylesheet', type='text/css')
title Tactile
