/* line 69, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-dark-blue-10 {
  fill: #0b3748; }

/* line 70, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-dark-blue-20 {
  fill: #254e5d; }

/* line 71, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-dark-blue-30 {
  fill: #3f6672; }

/* line 72, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-dark-blue-40 {
  fill: #597d88; }

/* line 73, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-dark-blue-50 {
  fill: #73959d; }

/* line 74, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-dark-blue-60 {
  fill: #8eadb3; }

/* line 77, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-blue-10 {
  fill: #0c1b75; }

/* line 78, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-blue-20 {
  fill: #263683; }

/* line 79, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-blue-30 {
  fill: #405192; }

/* line 80, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-blue-40 {
  fill: #5a6ca1; }

/* line 81, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-blue-50 {
  fill: #7487b0; }

/* line 82, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-blue-60 {
  fill: #8fa3bf; }

/* line 85, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-azure-10 {
  fill: #003fc1; }

/* line 86, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-azure-20 {
  fill: #2058c8; }

/* line 87, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-azure-30 {
  fill: #4072d0; }

/* line 88, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-azure-40 {
  fill: #608bd7; }

/* line 89, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-azure-50 {
  fill: #80a5df; }

/* line 90, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-azure-60 {
  fill: #a0bfe7; }

/* line 93, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-light-blue-10 {
  fill: #4727c0; }

/* line 94, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-light-blue-20 {
  fill: #6043c8; }

/* line 95, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-light-blue-30 {
  fill: #795fd0; }

/* line 96, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-light-blue-40 {
  fill: #927bd8; }

/* line 97, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-light-blue-50 {
  fill: #ab87e0; }

/* line 98, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-light-blue-60 {
  fill: #c5b3e9; }

/* line 101, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-barn-red-10 {
  fill: #4e0002; }

/* line 102, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-barn-red-20 {
  fill: #671e20; }

/* line 103, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-barn-red-30 {
  fill: #813d3f; }

/* line 104, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-barn-red-40 {
  fill: #9a5c5d; }

/* line 105, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-barn-red-50 {
  fill: #b47b7c; }

/* line 106, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-barn-red-60 {
  fill: #ce9a9b; }

/* line 109, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-scarlet-red-10 {
  fill: #d21e17; }

/* line 110, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-scarlet-red-20 {
  fill: #d83c36; }

/* line 111, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-scarlet-red-30 {
  fill: #de5a55; }

/* line 112, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-scarlet-red-40 {
  fill: #e47975; }

/* line 113, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-scarlet-red-50 {
  fill: #ea9794; }

/* line 114, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-scarlet-red-60 {
  fill: #f0b6b4; }

/* line 117, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-alloy-orange-10 {
  fill: #c07200; }

/* line 118, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-alloy-orange-20 {
  fill: #c98621; }

/* line 119, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-alloy-orange-30 {
  fill: #d39a42; }

/* line 120, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-alloy-orange-40 {
  fill: #ddaf63; }

/* line 121, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-alloy-orange-50 {
  fill: #e7c384; }

/* line 122, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-alloy-orange-60 {
  fill: #f1d8a6; }

/* line 125, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-brown-10 {
  fill: #623c1c; }

/* line 126, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-brown-20 {
  fill: #79593d; }

/* line 127, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-brown-30 {
  fill: #90765f; }

/* line 128, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-brown-40 {
  fill: #a79380; }

/* line 129, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-brown-50 {
  fill: #beb0a2; }

/* line 130, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-brown-60 {
  fill: #d6cdc4; }

/* line 133, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-silver-grey-10 {
  fill: #777777; }

/* line 134, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-silver-grey-20 {
  fill: #8a8a8a; }

/* line 135, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-silver-grey-30 {
  fill: #9d9d9d; }

/* line 136, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-silver-grey-40 {
  fill: #b1b1b1; }

/* line 137, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-silver-grey-50 {
  fill: #c4c4c4; }

/* line 138, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-silver-grey-60 {
  fill: #d8d8d8; }

/* line 141, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-dark-grey-10 {
  fill: #414343; }

/* line 142, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-dark-grey-20 {
  fill: #4d4f4f; }

/* line 143, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-dark-grey-30 {
  fill: #5a5b5b; }

/* line 144, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-dark-grey-40 {
  fill: #676868; }

/* line 145, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-dark-grey-50 {
  fill: #747474; }

/* line 146, /Users/adamrneary/Developer/tactile/src/scss/tactile/_tactile_colors.scss */
.tactile-dark-grey-60 {
  fill: #818181; }

/* line 9 */
#chart {
  width: 938px;
  height: 300px;
  overflow: hidden; }

/* line 15 */
#chart-container {
  border: 1px solid #d8d8d8;
  margin-top: 20px;
  position: relative; }
  /* line 19 */
  #chart-container .uncategorized {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    z-index: 1;
    border-left: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    background: #fff; }
  /* line 29 */
  #chart-container .empty {
    background: #d8d8d8;
    color: #9B9DA1;
    font-weight: bold;
    height: 150px;
    font-size: 18px;
    line-height: 18px;
    padding-top: 132px;
    text-align: center;
    width: 938px; }

/* graph */
/* line 43 */
.chart-container {
  position: relative; }

/* line 47 */
.chart-widget {
  padding-left: 0; }

/* line 51 */
.main-d3-chart.graph-container {
  left: 15px; }

/* line 55 */
.graph-container svg * {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
  Introduced in IE 10.
  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none; }

/* Specific rules for mini-charts */
/* line 70 */
.mini-chart-container.graph-container .gauge path {
  stroke: none; }
/* line 75 */
.mini-chart-container.graph-container path {
  stroke: #d39a42;
  stroke-width: 2; }
/* line 79 */
.mini-chart-container.graph-container rect {
  stroke-width: .3;
  stroke: white;
  fill: #d39a42; }

/* line 86 */
.mini-chart-container {
  height: 38px; }

/* line 90 */
.metric-inner-container {
  height: 225px; }

/* line 94 */
.metric-inner-container, .graph-container {
  position: relative; }
  /* line 97 */
  .metric-inner-container svg, .graph-container svg {
    display: block;
    overflow: hidden; }

/* axes */
/* line 111 */
.y-ticks.plain path, .y1-ticks.plain path {
  fill: none;
  stroke: none; }
/* line 116 */
.y-ticks.plain .tick, .y1-ticks.plain .tick {
  stroke: none; }
/* line 120 */
.y-ticks path, .y1-ticks path {
  fill: none;
  stroke: #808080; }
/* line 125 */
.y-ticks .tick, .y1-ticks .tick {
  stroke: rgba(0, 0, 0, 0.16);
  stroke-width: 2px;
  shape-rendering: crisp-edges; }
/* line 132 */
.y-ticks text, .y1-ticks text {
  opacity: 0.5;
  fill: black;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold; }

/* line 143 */
.y-grid .tick {
  z-index: -1;
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 1 1; }
/* line 149 */
.y-grid path {
  fill: none;
  stroke: none; }

/* line 157 */
.x-ticks.plain path {
  fill: none;
  stroke: none; }

/* line 163 */
.x-tick, .x-ticks {
  fill: black;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0px; }
  /* line 164 */
  .x-tick.grid, .x-ticks.grid {
    border-left: 1px dotted rgba(0, 0, 0, 0.2); }
  /* line 175 */
  .x-tick .title, .x-tick text, .x-ticks .title, .x-ticks text {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.5;
    white-space: nowrap;
    text-anchor: middle; }
  /* line 184 */
  .x-tick.align-end .title, .x-ticks.align-end .title {
    text-anchor: end; }
  /* line 188 */
  .x-tick.align-start .title, .x-ticks.align-start .title {
    text-anchor: start; }

/* line 193 */
.x-tick.small .title {
  font-size: 10px; }

/* line 197 */
.x-tick.glow .title, .y-ticks.glow text {
  fill: black;
  color: black;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.1), 1px -1px 0 rgba(255, 255, 255, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.1), 0px 1px 0 rgba(255, 255, 255, 0.1), 0px -1px 0 rgba(255, 255, 255, 0.1), 1px 0px 0 rgba(255, 255, 255, 0.1), -1px 0px 0 rgba(255, 255, 255, 0.1), -1px -1px 0 rgba(255, 255, 255, 0.1); }

/* line 207 */
.x-tick.inverse .title, .y-ticks.inverse text {
  fill: white;
  color: white;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8), 0px 1px 0 rgba(0, 0, 0, 0.8), 0px -1px 0 rgba(0, 0, 0, 0.8), 1px 0px 0 rgba(0, 0, 0, 0.8), -1px 0px 0 rgba(0, 0, 0, 0.8), -1px -1px 0 rgba(0, 0, 0, 0.8); }

/* line 217 */
#y-axis {
  position: absolute;
  bottom: 0;
  width: 20px;
  left: 5px; }

/* line 224 */
.y-axis {
  fill: none; }

/* line 229 */
.axis.yAxis, .axis.xAxis {
  text-transform: uppercase !important;
  font-size: 11px;
  font-weight: bold;
  fill: #9d9d9d; }
/* line 234 */
.axis.yAxis line, .axis.yAxis path {
  stroke: #9d9d9d;
  stroke-width: 2px; }
/* line 239 */
.axis.yAxis .domain {
  stroke: none; }

/* line 245 */
.axis {
  shape-rendering: crispEdges; }

/* line 250 */
.xAxis.axis line {
  stroke: #fff; }
/* line 254 */
.xAxis.axis .minor {
  stroke-opacity: .5; }
/* line 258 */
.xAxis.axis path {
  display: none; }

/* line 263 */
.yAxis.axis line, .yAxis.axis path {
  fill: none;
  stroke: #000; }

/* legend */
/* line 271 */
#main-chart-legend .well {
  display: inline-block;
  padding: 5px; }
/* line 276 */
#main-chart-legend .chart-legend {
  margin: 1px 0 0 15px;
  padding: 5px 0 0 0;
  list-style: none;
  *zoom: 1; }
  /* line 167, /Users/adamrneary/Developer/tactile/src/scss/tactile/_mixins.scss */
  #main-chart-legend .chart-legend:before, #main-chart-legend .chart-legend:after {
    display: table;
    content: ""; }
  /* line 171, /Users/adamrneary/Developer/tactile/src/scss/tactile/_mixins.scss */
  #main-chart-legend .chart-legend:after {
    clear: both; }
  /* line 282 */
  #main-chart-legend .chart-legend li {
    float: left;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
    margin: 0 15px 5px 0; }
    /* line 287 */
    #main-chart-legend .chart-legend li span {
      display: inline-block;
      position: relative;
      top: -2px;
      margin: 0 6px 0 0;
      width: 6px;
      height: 6px;
      border-radius: 1em;
      box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8), inset 1px 1px 1px rgba(0, 0, 0, 0.2); }
      /* line 296 */
      #main-chart-legend .chart-legend li span.point-noise {
        background-color: #9d9d9d; }
      /* line 297 */
      #main-chart-legend .chart-legend li span.point-dogs {
        background-color: #dc6e59; }
      /* line 298 */
      #main-chart-legend .chart-legend li span.point-sprouts {
        background-color: #19affe; }
      /* line 299 */
      #main-chart-legend .chart-legend li span.point-stars {
        background-color: #8ac16f; }

/* line 305 */
.chart-legend {
  margin: 0 0 10px 10px;
  color: #777777;
  overflow: hidden; }
  /* line 310 */
  .chart-legend .legend-item {
    float: left;
    list-style: none;
    overflow: hidden;
    margin-right: 10px; }
    /* line 317 */
    .chart-legend .legend-item.off .text {
      color: #777777; }
    /* line 322 */
    .chart-legend .legend-item:hover {
      cursor: pointer; }
    /* line 326 */
    .chart-legend .legend-item .color, .chart-legend .legend-item .text {
      float: left; }
    /* line 330 */
    .chart-legend .legend-item .color {
      border-radius: 3px;
      width: 6px;
      height: 6px;
      border: 1px solid #d8d8d8;
      margin-right: 8px;
      margin-top: 5px; }
    /* line 339 */
    .chart-legend .legend-item .text {
      font-size: 14px;
      line-height: 16px; }

/* hover detail */
/* line 348 */
.metric-inner-container .detail, .graph-container .detail {
  position: absolute;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 1px;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear; }
  /* line 357 */
  .metric-inner-container .detail.inactive, .graph-container .detail.inactive {
    opacity: 0; }
  /* line 361 */
  .metric-inner-container .detail.no-line, .graph-container .detail.no-line {
    background: none; }
  /* line 365 */
  .metric-inner-container .detail .item.active, .graph-container .detail .item.active {
    opacity: 1; }
  /* line 369 */
  .metric-inner-container .detail .x_label, .graph-container .detail .x_label {
    border-radius: 3px;
    padding: 6px;
    opacity: 0.5;
    border: 1px solid #d8d8d8;
    font-size: 12px;
    position: absolute;
    background: white;
    white-space: nowrap; }
  /* line 379 */
  .metric-inner-container .detail .item, .graph-container .detail .item {
    text-transform: none;
    position: absolute;
    z-index: 2;
    border-radius: 3px;
    padding: 0.25em;
    font-size: 12px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: 1em;
    margin-top: -1em;
    white-space: nowrap; }
    /* line 393 */
    .metric-inner-container .detail .item.active, .graph-container .detail .item.active {
      opacity: 1;
      background: rgba(0, 0, 0, 0.8); }
    /* line 397 */
    .metric-inner-container .detail .item:before, .graph-container .detail .item:before {
      content: "\25c2";
      position: absolute;
      left: -0.5em;
      color: rgba(0, 0, 0, 0.7);
      width: 0; }
  /* line 405 */
  .metric-inner-container .detail .dot, .graph-container .detail .dot {
    width: 4px;
    height: 4px;
    margin-left: -3px;
    margin-top: -4px;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: white;
    border-width: 2px;
    border-style: solid;
    display: none;
    background-clip: padding-box; }
    /* line 418 */
    .metric-inner-container .detail .dot.active, .graph-container .detail .dot.active {
      display: block; }

/* line 425 */
.graph-container .tooltip {
  padding: 0;
  margin: 0;
  white-space: nowrap; }
/* line 431 */
.graph-container .tooltip.right {
  padding-left: 5px;
  margin-left: 10px;
  margin-top: -11px; }

/* sankey */
/* line 445 */
.sankey-chart .node {
  stroke: #fff;
  stroke-width: 2px; }
/* line 450 */
.sankey-chart .link {
  fill: none;
  stroke: #000;
  opacity: .3; }
/* line 455 */
.sankey-chart .link.on {
  stroke: #F00;
  opacity: .7; }
/* line 460 */
.sankey-chart .node {
  stroke: none; }

/* ScatterChart stylings */
/* Designers: I used an SVG viewbox to dynamically resize the chart  */
/* http://www.w3.org/TR/SVG/coords.html#ViewBoxAttribute */
/* You may find a better way to resize dynamically. */
/* Please don't hesitate to contact me for any info: esbullington on github */
/* line 475 */
.scatter circle.low {
  fill: #dc6e59; }
/* line 476 */
.scatter circle.mid {
  fill: #19affe; }
/* line 477 */
.scatter circle.high {
  fill: #8ac16f; }

/* line 481 */
.graph-container circle.tip-hovered {
  stroke-width: 1; }

/* line 486 */
.draggable-node-chart circle.selected, .draggable-node-chart circle:hover, .draggableLine circle.selected, .draggableLine circle:hover {
  fill: #f1d8a6; }

/* line 491 */
rect.colorless {
  fill: #5a6ca1; }

/* line 497 */
.ui-button {
  border: 1px solid #9d9d9d;
  padding: 5px; }

/* line 503 */
path.colorless {
  stroke: #405192; }
/* line 507 */
path.sparkline {
  stroke: #d39a42;
  stroke-width: 1px;
  fill: none; }
/* line 512 */
path.line {
  fill: none;
  stroke-width: 2px; }
/* line 516 */
path.area {
  fill: #e7e7e7; }

/* line 521 */
div.tipsy.help-tip.seg-tipsy .tipsy-inner div {
  padding: 6px; }

/* Leaderboard */
/* line 528 */
.leaderboard-normal.label {
  fill: #777777;
  font-size: 20px;
  font-weight: bold; }
/* line 534 */
.leaderboard-normal.value {
  font-size: 27px;
  fill: #777777;
  text-anchor: end;
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase; }
/* line 541 */
.leaderboard-normal.change {
  fill: #b1b1b1;
  font-size: 12px;
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
/* line 547 */
.leaderboard-normal .triangle-down {
  fill: #dc6e59;
  stroke: none; }
/* line 552 */
.leaderboard-normal .triangle-up {
  fill: #8ac16f;
  stroke: none; }
/* line 557 */
.leaderboard-normal.track {
  fill: #d8d8d8;
  stroke: none; }
/* line 562 */
.leaderboard-normal.bar {
  fill: #405192;
  stroke: none; }

/* line 569 */
.leaderboard-small.label {
  fill: #777777;
  font-size: 15px;
  font-weight: bold; }
/* line 575 */
.leaderboard-small.value {
  font-size: 20px;
  fill: #777777;
  text-anchor: end;
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase; }
/* line 582 */
.leaderboard-small.change {
  fill: #b1b1b1;
  font-size: 10px;
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
/* line 588 */
.leaderboard-small .triangle-down {
  fill: #dc6e59;
  stroke: none; }
/* line 593 */
.leaderboard-small .triangle-up {
  fill: #8ac16f;
  stroke: none; }
/* line 598 */
.leaderboard-small.track {
  fill: #d8d8d8;
  stroke: none; }
/* line 603 */
.leaderboard-small.bar {
  fill: #405192;
  stroke: none; }

/* Gauge */
/* line 613 */
.gauge.arc {
  fill: #d8d8d8; }
/* line 617 */
.gauge.arc-value {
  fill: #405192; }
/* line 621 */
.gauge.pointer-circle {
  fill: #d8d8d8;
  stroke: #777777; }
/* line 626 */
.gauge.pointer, .gauge.pointer-nail {
  stroke: none;
  fill: #777777; }
/* line 631 */
.gauge.label {
  font-size: 27px;
  fill: #777777;
  text-anchor: middle;
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase; }

/*Bullet*/
/* line 640 */
.bullet {
  font-size: 10px;
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, sans-serif; }
  /* line 643 */
  .bullet.title {
    font-size: 14px;
    font-weight: bold;
    fill: #777777; }
  /* line 649 */
  .bullet.subtitle {
    fill: #9d9d9d;
    font-size: 10px; }
