/* Primary palette
-------------------------------------------------- */
/* Chart palette
-------------------------------------------------- */
/* Alert palette
-------------------------------------------------- */
/* line 17 */
#chart {
  width: 938px;
  height: 300px;
  overflow: hidden; }

/* line 15 */
#chart-container {
  border: 1px solid #e6e6e6;
  margin-top: 20px;
  position: relative; }
  /* line 19 */
  #chart-container .uncategorized {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    z-index: 1;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #fff; }
  /* line 29 */
  #chart-container .empty {
    background: #F2F2F3;
    color: #9B9DA1;
    font-weight: bold;
    height: 150px;
    font-size: 18px;
    line-height: 18px;
    padding-top: 132px;
    text-align: center;
    width: 938px; }

/* graph */
/* line 43 */
.chart-container {
  position: relative; }

/* line 47 */
.chart-widget {
  padding-left: 0; }

/* line 51 */
.main-d3-chart.graph-container {
  left: 15px; }

/* line 55 */
.graph-container svg * {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
  Introduced in IE 10.
  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none; }

/* Specific rules for mini-charts */
/* line 70 */
.mini-chart-container.graph-container .gauge path {
  stroke: none; }
/* line 75 */
.mini-chart-container.graph-container path {
  stroke: #30878f;
  stroke-width: 2; }
/* line 79 */
.mini-chart-container.graph-container rect {
  stroke-width: .3;
  stroke: white;
  fill: #30878f; }

/* line 86 */
.mini-chart-container {
  height: 38px; }

/* line 90 */
.metric-inner-container {
  height: 225px; }
  /* line 93 */
  .metric-inner-container .bar {
    fill: #30878f; }

/* line 98 */
.metric-inner-container, .graph-container {
  position: relative; }
  /* line 101 */
  .metric-inner-container svg, .graph-container svg {
    display: block;
    overflow: hidden; }

/* axes */
/* line 113 */
.y-ticks, .y1-ticks {
  /* Don't display first tick of Y-axis */ }
  /* line 115 */
  .y-ticks g:first-child, .y1-ticks g:first-child {
    opacity: 0 !important; }
  /* line 120 */
  .y-ticks.plain path, .y1-ticks.plain path {
    fill: none;
    stroke: none; }
  /* line 125 */
  .y-ticks.plain .tick, .y1-ticks.plain .tick {
    stroke: none; }
  /* line 129 */
  .y-ticks path, .y1-ticks path {
    fill: none;
    stroke: #808080; }
  /* line 134 */
  .y-ticks .tick, .y1-ticks .tick {
    stroke: rgba(0, 0, 0, 0.16);
    stroke-width: 2px;
    shape-rendering: crisp-edges;
    pointer-events: none; }
  /* line 141 */
  .y-ticks text, .y1-ticks text {
    opacity: 0.5;
    pointer-events: none;
    fill: black;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold; }

/* line 152 */
.y-grid .tick {
  z-index: -1;
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 1 1; }
/* line 158 */
.y-grid path {
  fill: none;
  stroke: none; }

/* line 166 */
.x-ticks.plain path {
  fill: none;
  stroke: none; }

/* line 172 */
.x-tick, .x-ticks {
  fill: black;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0px;
  pointer-events: none; }
  /* line 173 */
  .x-tick.grid, .x-ticks.grid {
    border-left: 1px dotted rgba(0, 0, 0, 0.2); }
  /* line 184 */
  .x-tick .title, .x-tick text, .x-ticks .title, .x-ticks text {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, sans-serif;
    opacity: 0.5;
    white-space: nowrap;
    text-anchor: middle; }
  /* line 194 */
  .x-tick.align-end .title, .x-ticks.align-end .title {
    text-anchor: end; }
  /* line 198 */
  .x-tick.align-start .title, .x-ticks.align-start .title {
    text-anchor: start; }
  /* line 202 */
  .x-tick.align-start .title, .x-ticks.align-start .title {
    text-anchor: middle; }

/* line 207 */
.x-tick.glow .title, .y-ticks.glow text {
  fill: black;
  color: black;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.1), 1px -1px 0 rgba(255, 255, 255, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.1), 0px 1px 0 rgba(255, 255, 255, 0.1), 0px -1px 0 rgba(255, 255, 255, 0.1), 1px 0px 0 rgba(255, 255, 255, 0.1), -1px 0px 0 rgba(255, 255, 255, 0.1), -1px -1px 0 rgba(255, 255, 255, 0.1); }

/* line 217 */
.x-tick.inverse .title, .y-ticks.inverse text {
  fill: white;
  color: white;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8), 0px 1px 0 rgba(0, 0, 0, 0.8), 0px -1px 0 rgba(0, 0, 0, 0.8), 1px 0px 0 rgba(0, 0, 0, 0.8), -1px 0px 0 rgba(0, 0, 0, 0.8), -1px -1px 0 rgba(0, 0, 0, 0.8); }

/* line 227 */
#y-axis {
  position: absolute;
  bottom: 0;
  width: 20px;
  left: 5px; }

/* line 234 */
.y-axis {
  fill: none; }

/* line 239 */
.axis.yAxis, .axis.xAxis {
  text-transform: uppercase !important;
  font-size: 11px;
  font-weight: bold;
  fill: #a69b9e; }
/* line 244 */
.axis.yAxis line, .axis.yAxis path {
  stroke: #a69b9e;
  stroke-width: 2px; }
/* line 249 */
.axis.yAxis .domain {
  stroke: none; }

/* line 255 */
.axis {
  shape-rendering: crispEdges; }

/* line 260 */
.xAxis.axis line {
  stroke: #fff; }
/* line 264 */
.xAxis.axis .minor {
  stroke-opacity: .5; }
/* line 268 */
.xAxis.axis path {
  display: none; }

/* line 273 */
.yAxis.axis line, .yAxis.axis path {
  fill: none;
  stroke: #000; }

/* legend */
/* line 281 */
#main-chart-legend .well {
  display: inline-block;
  padding: 5px; }
/* line 286 */
#main-chart-legend .chart-legend {
  margin: 1px 0 0 15px;
  padding: 5px 0 0 0;
  list-style: none;
  *zoom: 1; }
  /* line 261, /Users/adamrneary/Developer/tactile/src/scss/mixins.scss */
  #main-chart-legend .chart-legend:before, #main-chart-legend .chart-legend:after {
    display: table;
    content: ""; }
  /* line 265, /Users/adamrneary/Developer/tactile/src/scss/mixins.scss */
  #main-chart-legend .chart-legend:after {
    clear: both; }
  /* line 292 */
  #main-chart-legend .chart-legend li {
    float: left;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
    margin: 0 15px 5px 0; }
    /* line 297 */
    #main-chart-legend .chart-legend li span {
      display: inline-block;
      position: relative;
      top: -2px;
      margin: 0 6px 0 0;
      width: 6px;
      height: 6px;
      border-radius: 1em;
      box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8), inset 1px 1px 1px rgba(0, 0, 0, 0.2); }
      /* line 306 */
      #main-chart-legend .chart-legend li span.point-noise {
        background-color: #a69b9e; }
      /* line 307 */
      #main-chart-legend .chart-legend li span.point-dogs {
        background-color: #dc6e59; }
      /* line 308 */
      #main-chart-legend .chart-legend li span.point-sprouts {
        background-color: #19affe; }
      /* line 309 */
      #main-chart-legend .chart-legend li span.point-stars {
        background-color: #8ac16f; }

/* line 315 */
.chart-legend {
  margin: 0 0 10px 10px;
  color: #404040;
  overflow: hidden; }
  /* line 320 */
  .chart-legend .legend-item {
    float: left;
    list-style: none;
    overflow: hidden;
    margin-right: 10px; }
    /* line 327 */
    .chart-legend .legend-item.off .text {
      color: #ccc; }
    /* line 332 */
    .chart-legend .legend-item:hover {
      cursor: pointer; }
    /* line 336 */
    .chart-legend .legend-item .color, .chart-legend .legend-item .text {
      float: left; }
    /* line 340 */
    .chart-legend .legend-item .color {
      border-radius: 3px;
      width: 6px;
      height: 6px;
      border: 1px solid #e6e6e6;
      margin-right: 8px;
      margin-top: 5px; }
    /* line 349 */
    .chart-legend .legend-item .text {
      font-size: 14px;
      line-height: 16px; }

/* hover detail */
/* line 358 */
.metric-inner-container .detail, .graph-container .detail {
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 1px;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear; }
  /* line 367 */
  .metric-inner-container .detail.inactive, .graph-container .detail.inactive {
    opacity: 0; }
  /* line 371 */
  .metric-inner-container .detail.no-line, .graph-container .detail.no-line {
    background: none; }
  /* line 375 */
  .metric-inner-container .detail .item.active, .graph-container .detail .item.active {
    opacity: 1; }
  /* line 379 */
  .metric-inner-container .detail .x_label, .graph-container .detail .x_label {
    font-family: Arial, sans-serif;
    border-radius: 3px;
    padding: 6px;
    opacity: 0.5;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    position: absolute;
    background: white;
    white-space: nowrap; }
  /* line 390 */
  .metric-inner-container .detail .item, .graph-container .detail .item {
    text-transform: none;
    position: absolute;
    z-index: 2;
    border-radius: 3px;
    padding: 0.25em;
    font-size: 12px;
    font-family: Arial, sans-serif;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: 1em;
    margin-top: -1em;
    white-space: nowrap; }
    /* line 405 */
    .metric-inner-container .detail .item.active, .graph-container .detail .item.active {
      opacity: 1;
      background: rgba(0, 0, 0, 0.8); }
    /* line 409 */
    .metric-inner-container .detail .item:before, .graph-container .detail .item:before {
      content: "\25c2";
      position: absolute;
      left: -0.5em;
      color: rgba(0, 0, 0, 0.7);
      width: 0; }
  /* line 417 */
  .metric-inner-container .detail .dot, .graph-container .detail .dot {
    width: 4px;
    height: 4px;
    margin-left: -3px;
    margin-top: -4px;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: white;
    border-width: 2px;
    border-style: solid;
    display: none;
    background-clip: padding-box; }
    /* line 430 */
    .metric-inner-container .detail .dot.active, .graph-container .detail .dot.active {
      display: block; }

/* line 437 */
.graph-container .tooltip {
  padding: 0;
  margin: 0;
  white-space: nowrap; }
/* line 443 */
.graph-container .tooltip.right {
  padding-left: 5px;
  margin-left: 10px;
  margin-top: -11px; }

/* sankey */
/* line 457 */
.sankey-chart .node {
  stroke: #fff;
  stroke-width: 2px; }
/* line 462 */
.sankey-chart .link {
  fill: none;
  stroke: #000;
  opacity: .3; }
/* line 467 */
.sankey-chart .link.on {
  stroke: #F00;
  opacity: .7; }
/* line 472 */
.sankey-chart .node {
  stroke: none; }

/* ScatterChart stylings */
/* Designers: I used an SVG viewbox to dynamically resize the chart  */
/* http://www.w3.org/TR/SVG/coords.html#ViewBoxAttribute */
/* You may find a better way to resize dynamically. */
/* Please don't hesitate to contact me for any info: esbullington on github */
/* line 487 */
.scatter circle.low {
  fill: #dc6e59; }
/* line 488 */
.scatter circle.mid {
  fill: #19affe; }
/* line 489 */
.scatter circle.high {
  fill: #8ac16f; }

/* line 493 */
.graph-container circle.tip-hovered {
  stroke-width: 1; }

/* line 498 */
.draggable-node-chart circle.selected, .draggable-node-chart circle:hover, .draggableLine circle.selected, .draggableLine circle:hover {
  fill: #f1d8a6; }

/* line 503 */
rect.colorless {
  fill: #5a6ca1; }

/* line 509 */
.ui-button {
  border: 1px solid #a69b9e;
  padding: 5px; }

/* line 515 */
path.colorless {
  stroke: #405192; }
/* line 519 */
path.sparkline {
  stroke: #30878f;
  stroke-width: 1px;
  fill: none; }
/* line 524 */
path.line {
  fill: none;
  stroke-width: 2px; }
/* line 528 */
path.area {
  fill: #e7e7e7; }

/* line 533 */
div.tipsy.help-tip.seg-tipsy .tipsy-inner div {
  padding: 6px; }

/* Leaderboard */
/* line 540 */
.leaderboard.label {
  fill: #a69b9e;
  font-size: 20px;
  font-weight: bold; }
/* line 546 */
.leaderboard.value {
  font-size: 27px;
  fill: #3e3739;
  text-anchor: end;
  font-family: "ProximaNova", sans-serif;
  font-weight: 800;
  text-transform: uppercase; }
/* line 553 */
.leaderboard.change {
  fill: #a69b9e;
  font-size: 12px;
  font-family: "ProximaNova", sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
/* line 559 */
.leaderboard .triangle-down {
  fill: #dc6e59;
  stroke: none; }
/* line 564 */
.leaderboard .triangle-up {
  fill: #8ac16f;
  stroke: none; }
/* line 569 */
.leaderboard.track {
  fill: #e2dedf;
  stroke: none; }
/* line 574 */
.leaderboard.bar {
  fill: #30878f;
  stroke: none; }

/* Gauge */
/* line 583 */
.gauge.arc {
  fill: #e2dedf; }
/* line 587 */
.gauge.arc-value {
  fill: #30878f; }
/* line 591 */
.gauge.pointer-circle {
  fill: #faf9fa;
  stroke: #bfbfbf; }
/* line 596 */
.gauge.pointer, .gauge.pointer-nail {
  stroke: none;
  fill: #4c4345; }
/* line 601 */
.gauge.label {
  font-size: 27px;
  fill: #3e3739;
  text-anchor: middle;
  font-family: "ProximaNova", sans-serif;
  font-weight: 800;
  text-transform: uppercase; }
