@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000369}}
.tactile-dark-blue-10 {
  fill: #0b3748; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000370}}
.tactile-dark-blue-20 {
  fill: #254e5d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000371}}
.tactile-dark-blue-30 {
  fill: #3f6672; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000372}}
.tactile-dark-blue-40 {
  fill: #597d88; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000373}}
.tactile-dark-blue-50 {
  fill: #73959d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000374}}
.tactile-dark-blue-60 {
  fill: #8eadb3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000377}}
.tactile-blue-10 {
  fill: #0c1b75; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000378}}
.tactile-blue-20 {
  fill: #263683; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000379}}
.tactile-blue-30 {
  fill: #405192; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000380}}
.tactile-blue-40 {
  fill: #5a6ca1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000381}}
.tactile-blue-50 {
  fill: #7487b0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000382}}
.tactile-blue-60 {
  fill: #8fa3bf; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000385}}
.tactile-azure-10 {
  fill: #003fc1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000386}}
.tactile-azure-20 {
  fill: #2058c8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000387}}
.tactile-azure-30 {
  fill: #4072d0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000388}}
.tactile-azure-40 {
  fill: #608bd7; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000389}}
.tactile-azure-50 {
  fill: #80a5df; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000390}}
.tactile-azure-60 {
  fill: #a0bfe7; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000393}}
.tactile-light-blue-10 {
  fill: #4727c0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000394}}
.tactile-light-blue-20 {
  fill: #6043c8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000395}}
.tactile-light-blue-30 {
  fill: #795fd0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000396}}
.tactile-light-blue-40 {
  fill: #927bd8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000397}}
.tactile-light-blue-50 {
  fill: #ab87e0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\0000398}}
.tactile-light-blue-60 {
  fill: #c5b3e9; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003101}}
.tactile-barn-red-10 {
  fill: #4e0002; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003102}}
.tactile-barn-red-20 {
  fill: #671e20; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003103}}
.tactile-barn-red-30 {
  fill: #813d3f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003104}}
.tactile-barn-red-40 {
  fill: #9a5c5d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003105}}
.tactile-barn-red-50 {
  fill: #b47b7c; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003106}}
.tactile-barn-red-60 {
  fill: #ce9a9b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003109}}
.tactile-scarlet-red-10 {
  fill: #d21e17; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003110}}
.tactile-scarlet-red-20 {
  fill: #d83c36; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003111}}
.tactile-scarlet-red-30 {
  fill: #de5a55; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003112}}
.tactile-scarlet-red-40 {
  fill: #e47975; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003113}}
.tactile-scarlet-red-50 {
  fill: #ea9794; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003114}}
.tactile-scarlet-red-60 {
  fill: #f0b6b4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003117}}
.tactile-alloy-orange-10 {
  fill: #c07200; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003118}}
.tactile-alloy-orange-20 {
  fill: #c98621; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003119}}
.tactile-alloy-orange-30 {
  fill: #d39a42; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003120}}
.tactile-alloy-orange-40 {
  fill: #ddaf63; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003121}}
.tactile-alloy-orange-50 {
  fill: #e7c384; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003122}}
.tactile-alloy-orange-60 {
  fill: #f1d8a6; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003125}}
.tactile-brown-10 {
  fill: #623c1c; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003126}}
.tactile-brown-20 {
  fill: #79593d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003127}}
.tactile-brown-30 {
  fill: #90765f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003128}}
.tactile-brown-40 {
  fill: #a79380; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003129}}
.tactile-brown-50 {
  fill: #beb0a2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003130}}
.tactile-brown-60 {
  fill: #d6cdc4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003133}}
.tactile-silver-grey-10 {
  fill: #777777; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003134}}
.tactile-silver-grey-20 {
  fill: #8a8a8a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003135}}
.tactile-silver-grey-30 {
  fill: #9d9d9d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003136}}
.tactile-silver-grey-40 {
  fill: #b1b1b1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003137}}
.tactile-silver-grey-50 {
  fill: #c4c4c4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003138}}
.tactile-silver-grey-60 {
  fill: #d8d8d8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003141}}
.tactile-dark-grey-10 {
  fill: #414343; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003142}}
.tactile-dark-grey-20 {
  fill: #4d4f4f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003143}}
.tactile-dark-grey-30 {
  fill: #5a5b5b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003144}}
.tactile-dark-grey-40 {
  fill: #676868; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003145}}
.tactile-dark-grey-50 {
  fill: #747474; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_tactile_colors\.scss}line{font-family:\00003146}}
.tactile-dark-grey-60 {
  fill: #818181; }

@media -sass-debug-info{filename{}line{font-family:\000039}}
#chart {
  width: 938px;
  height: 300px;
  overflow: hidden; }

@media -sass-debug-info{filename{}line{font-family:\0000315}}
#chart-container {
  border: 1px solid #e6e6e6;
  margin-top: 20px;
  position: relative; }
@media -sass-debug-info{filename{}line{font-family:\0000319}}
  #chart-container .uncategorized {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    z-index: 1;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #fff; }
@media -sass-debug-info{filename{}line{font-family:\0000329}}
  #chart-container .empty {
    background: #F2F2F3;
    color: #9B9DA1;
    font-weight: bold;
    height: 150px;
    font-size: 18px;
    line-height: 18px;
    padding-top: 132px;
    text-align: center;
    width: 938px; }

/* graph */
@media -sass-debug-info{filename{}line{font-family:\0000343}}
.chart-container {
  position: relative; }

@media -sass-debug-info{filename{}line{font-family:\0000347}}
.chart-widget {
  padding-left: 0; }

@media -sass-debug-info{filename{}line{font-family:\0000351}}
.main-d3-chart.graph-container {
  left: 15px; }

@media -sass-debug-info{filename{}line{font-family:\0000355}}
.graph-container svg * {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
  Introduced in IE 10.
  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none; }

/* Specific rules for mini-charts */
@media -sass-debug-info{filename{}line{font-family:\0000370}}
.mini-chart-container.graph-container .gauge path {
  stroke: none; }
@media -sass-debug-info{filename{}line{font-family:\0000375}}
.mini-chart-container.graph-container path {
  stroke: #30878f;
  stroke-width: 2; }
@media -sass-debug-info{filename{}line{font-family:\0000379}}
.mini-chart-container.graph-container rect {
  stroke-width: .3;
  stroke: white;
  fill: #30878f; }

@media -sass-debug-info{filename{}line{font-family:\0000386}}
.mini-chart-container {
  height: 38px; }

@media -sass-debug-info{filename{}line{font-family:\0000390}}
.metric-inner-container {
  height: 225px; }
@media -sass-debug-info{filename{}line{font-family:\0000393}}
  .metric-inner-container .bar {
    fill: #30878f; }

@media -sass-debug-info{filename{}line{font-family:\0000398}}
.metric-inner-container, .graph-container {
  position: relative; }
@media -sass-debug-info{filename{}line{font-family:\00003101}}
  .metric-inner-container svg, .graph-container svg {
    display: block;
    overflow: hidden; }

/* axes */
@media -sass-debug-info{filename{}line{font-family:\00003113}}
.y-ticks, .y1-ticks {
  /* Don't display first tick of Y-axis */ }
@media -sass-debug-info{filename{}line{font-family:\00003115}}
  .y-ticks g:first-child, .y1-ticks g:first-child {
    opacity: 0 !important; }
@media -sass-debug-info{filename{}line{font-family:\00003120}}
  .y-ticks.plain path, .y1-ticks.plain path {
    fill: none;
    stroke: none; }
@media -sass-debug-info{filename{}line{font-family:\00003125}}
  .y-ticks.plain .tick, .y1-ticks.plain .tick {
    stroke: none; }
@media -sass-debug-info{filename{}line{font-family:\00003129}}
  .y-ticks path, .y1-ticks path {
    fill: none;
    stroke: #808080; }
@media -sass-debug-info{filename{}line{font-family:\00003134}}
  .y-ticks .tick, .y1-ticks .tick {
    stroke: rgba(0, 0, 0, 0.16);
    stroke-width: 2px;
    shape-rendering: crisp-edges;
    pointer-events: none; }
@media -sass-debug-info{filename{}line{font-family:\00003141}}
  .y-ticks text, .y1-ticks text {
    opacity: 0.5;
    pointer-events: none;
    fill: black;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold; }

@media -sass-debug-info{filename{}line{font-family:\00003152}}
.y-grid .tick {
  z-index: -1;
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 1 1; }
@media -sass-debug-info{filename{}line{font-family:\00003158}}
.y-grid path {
  fill: none;
  stroke: none; }

@media -sass-debug-info{filename{}line{font-family:\00003166}}
.x-ticks.plain path {
  fill: none;
  stroke: none; }

@media -sass-debug-info{filename{}line{font-family:\00003172}}
.x-tick, .x-ticks {
  fill: black;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0px;
  pointer-events: none; }
@media -sass-debug-info{filename{}line{font-family:\00003173}}
  .x-tick.grid, .x-ticks.grid {
    border-left: 1px dotted rgba(0, 0, 0, 0.2); }
@media -sass-debug-info{filename{}line{font-family:\00003184}}
  .x-tick .title, .x-tick text, .x-ticks .title, .x-ticks text {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, sans-serif;
    opacity: 0.5;
    white-space: nowrap;
    text-anchor: middle; }
@media -sass-debug-info{filename{}line{font-family:\00003194}}
  .x-tick.align-end .title, .x-ticks.align-end .title {
    text-anchor: end; }
@media -sass-debug-info{filename{}line{font-family:\00003198}}
  .x-tick.align-start .title, .x-ticks.align-start .title {
    text-anchor: start; }
@media -sass-debug-info{filename{}line{font-family:\00003202}}
  .x-tick.align-start .title, .x-ticks.align-start .title {
    text-anchor: middle; }

@media -sass-debug-info{filename{}line{font-family:\00003207}}
.x-tick.glow .title, .y-ticks.glow text {
  fill: black;
  color: black;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.1), 1px -1px 0 rgba(255, 255, 255, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.1), 0px 1px 0 rgba(255, 255, 255, 0.1), 0px -1px 0 rgba(255, 255, 255, 0.1), 1px 0px 0 rgba(255, 255, 255, 0.1), -1px 0px 0 rgba(255, 255, 255, 0.1), -1px -1px 0 rgba(255, 255, 255, 0.1); }

@media -sass-debug-info{filename{}line{font-family:\00003217}}
.x-tick.inverse .title, .y-ticks.inverse text {
  fill: white;
  color: white;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8), 0px 1px 0 rgba(0, 0, 0, 0.8), 0px -1px 0 rgba(0, 0, 0, 0.8), 1px 0px 0 rgba(0, 0, 0, 0.8), -1px 0px 0 rgba(0, 0, 0, 0.8), -1px -1px 0 rgba(0, 0, 0, 0.8); }

@media -sass-debug-info{filename{}line{font-family:\00003227}}
#y-axis {
  position: absolute;
  bottom: 0;
  width: 20px;
  left: 5px; }

@media -sass-debug-info{filename{}line{font-family:\00003234}}
.y-axis {
  fill: none; }

@media -sass-debug-info{filename{}line{font-family:\00003239}}
.axis.yAxis, .axis.xAxis {
  text-transform: uppercase !important;
  font-size: 11px;
  font-weight: bold;
  fill: #a69b9e; }
@media -sass-debug-info{filename{}line{font-family:\00003244}}
.axis.yAxis line, .axis.yAxis path {
  stroke: #a69b9e;
  stroke-width: 2px; }
@media -sass-debug-info{filename{}line{font-family:\00003249}}
.axis.yAxis .domain {
  stroke: none; }

@media -sass-debug-info{filename{}line{font-family:\00003255}}
.axis {
  shape-rendering: crispEdges; }

@media -sass-debug-info{filename{}line{font-family:\00003260}}
.xAxis.axis line {
  stroke: #fff; }
@media -sass-debug-info{filename{}line{font-family:\00003264}}
.xAxis.axis .minor {
  stroke-opacity: .5; }
@media -sass-debug-info{filename{}line{font-family:\00003268}}
.xAxis.axis path {
  display: none; }

@media -sass-debug-info{filename{}line{font-family:\00003273}}
.yAxis.axis line, .yAxis.axis path {
  fill: none;
  stroke: #000; }

/* legend */
@media -sass-debug-info{filename{}line{font-family:\00003281}}
#main-chart-legend .well {
  display: inline-block;
  padding: 5px; }
@media -sass-debug-info{filename{}line{font-family:\00003286}}
#main-chart-legend .chart-legend {
  margin: 1px 0 0 15px;
  padding: 5px 0 0 0;
  list-style: none;
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_mixins\.scss}line{font-family:\00003167}}
  #main-chart-legend .chart-legend:before, #main-chart-legend .chart-legend:after {
    display: table;
    content: ""; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kamil\/workspace\/activecell_tactile\/src\/scss\/tactile\/_mixins\.scss}line{font-family:\00003171}}
  #main-chart-legend .chart-legend:after {
    clear: both; }
@media -sass-debug-info{filename{}line{font-family:\00003292}}
  #main-chart-legend .chart-legend li {
    float: left;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
    margin: 0 15px 5px 0; }
@media -sass-debug-info{filename{}line{font-family:\00003297}}
    #main-chart-legend .chart-legend li span {
      display: inline-block;
      position: relative;
      top: -2px;
      margin: 0 6px 0 0;
      width: 6px;
      height: 6px;
      border-radius: 1em;
      box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8), inset 1px 1px 1px rgba(0, 0, 0, 0.2); }
@media -sass-debug-info{filename{}line{font-family:\00003306}}
      #main-chart-legend .chart-legend li span.point-noise {
        background-color: #a69b9e; }
@media -sass-debug-info{filename{}line{font-family:\00003307}}
      #main-chart-legend .chart-legend li span.point-dogs {
        background-color: #dc6e59; }
@media -sass-debug-info{filename{}line{font-family:\00003308}}
      #main-chart-legend .chart-legend li span.point-sprouts {
        background-color: #19affe; }
@media -sass-debug-info{filename{}line{font-family:\00003309}}
      #main-chart-legend .chart-legend li span.point-stars {
        background-color: #8ac16f; }

@media -sass-debug-info{filename{}line{font-family:\00003315}}
.chart-legend {
  margin: 0 0 10px 10px;
  color: #404040;
  overflow: hidden; }
@media -sass-debug-info{filename{}line{font-family:\00003320}}
  .chart-legend .legend-item {
    float: left;
    list-style: none;
    overflow: hidden;
    margin-right: 10px; }
@media -sass-debug-info{filename{}line{font-family:\00003327}}
    .chart-legend .legend-item.off .text {
      color: #ccc; }
@media -sass-debug-info{filename{}line{font-family:\00003332}}
    .chart-legend .legend-item:hover {
      cursor: pointer; }
@media -sass-debug-info{filename{}line{font-family:\00003336}}
    .chart-legend .legend-item .color, .chart-legend .legend-item .text {
      float: left; }
@media -sass-debug-info{filename{}line{font-family:\00003340}}
    .chart-legend .legend-item .color {
      border-radius: 3px;
      width: 6px;
      height: 6px;
      border: 1px solid #e6e6e6;
      margin-right: 8px;
      margin-top: 5px; }
@media -sass-debug-info{filename{}line{font-family:\00003349}}
    .chart-legend .legend-item .text {
      font-size: 14px;
      line-height: 16px; }

/* hover detail */
@media -sass-debug-info{filename{}line{font-family:\00003358}}
.metric-inner-container .detail, .graph-container .detail {
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 1px;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear; }
@media -sass-debug-info{filename{}line{font-family:\00003367}}
  .metric-inner-container .detail.inactive, .graph-container .detail.inactive {
    opacity: 0; }
@media -sass-debug-info{filename{}line{font-family:\00003371}}
  .metric-inner-container .detail.no-line, .graph-container .detail.no-line {
    background: none; }
@media -sass-debug-info{filename{}line{font-family:\00003375}}
  .metric-inner-container .detail .item.active, .graph-container .detail .item.active {
    opacity: 1; }
@media -sass-debug-info{filename{}line{font-family:\00003379}}
  .metric-inner-container .detail .x_label, .graph-container .detail .x_label {
    font-family: Arial, sans-serif;
    border-radius: 3px;
    padding: 6px;
    opacity: 0.5;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    position: absolute;
    background: white;
    white-space: nowrap; }
@media -sass-debug-info{filename{}line{font-family:\00003390}}
  .metric-inner-container .detail .item, .graph-container .detail .item {
    text-transform: none;
    position: absolute;
    z-index: 2;
    border-radius: 3px;
    padding: 0.25em;
    font-size: 12px;
    font-family: Arial, sans-serif;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: 1em;
    margin-top: -1em;
    white-space: nowrap; }
@media -sass-debug-info{filename{}line{font-family:\00003405}}
    .metric-inner-container .detail .item.active, .graph-container .detail .item.active {
      opacity: 1;
      background: rgba(0, 0, 0, 0.8); }
@media -sass-debug-info{filename{}line{font-family:\00003409}}
    .metric-inner-container .detail .item:before, .graph-container .detail .item:before {
      content: "\25c2";
      position: absolute;
      left: -0.5em;
      color: rgba(0, 0, 0, 0.7);
      width: 0; }
@media -sass-debug-info{filename{}line{font-family:\00003417}}
  .metric-inner-container .detail .dot, .graph-container .detail .dot {
    width: 4px;
    height: 4px;
    margin-left: -3px;
    margin-top: -4px;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: white;
    border-width: 2px;
    border-style: solid;
    display: none;
    background-clip: padding-box; }
@media -sass-debug-info{filename{}line{font-family:\00003430}}
    .metric-inner-container .detail .dot.active, .graph-container .detail .dot.active {
      display: block; }

@media -sass-debug-info{filename{}line{font-family:\00003437}}
.graph-container .tooltip {
  padding: 0;
  margin: 0;
  white-space: nowrap; }
@media -sass-debug-info{filename{}line{font-family:\00003443}}
.graph-container .tooltip.right {
  padding-left: 5px;
  margin-left: 10px;
  margin-top: -11px; }

/* sankey */
@media -sass-debug-info{filename{}line{font-family:\00003457}}
.sankey-chart .node {
  stroke: #fff;
  stroke-width: 2px; }
@media -sass-debug-info{filename{}line{font-family:\00003462}}
.sankey-chart .link {
  fill: none;
  stroke: #000;
  opacity: .3; }
@media -sass-debug-info{filename{}line{font-family:\00003467}}
.sankey-chart .link.on {
  stroke: #F00;
  opacity: .7; }
@media -sass-debug-info{filename{}line{font-family:\00003472}}
.sankey-chart .node {
  stroke: none; }

/* ScatterChart stylings */
/* Designers: I used an SVG viewbox to dynamically resize the chart  */
/* http://www.w3.org/TR/SVG/coords.html#ViewBoxAttribute */
/* You may find a better way to resize dynamically. */
/* Please don't hesitate to contact me for any info: esbullington on github */
@media -sass-debug-info{filename{}line{font-family:\00003487}}
.scatter circle.low {
  fill: #dc6e59; }
@media -sass-debug-info{filename{}line{font-family:\00003488}}
.scatter circle.mid {
  fill: #19affe; }
@media -sass-debug-info{filename{}line{font-family:\00003489}}
.scatter circle.high {
  fill: #8ac16f; }

@media -sass-debug-info{filename{}line{font-family:\00003493}}
.graph-container circle.tip-hovered {
  stroke-width: 1; }

@media -sass-debug-info{filename{}line{font-family:\00003498}}
.draggable-node-chart circle.selected, .draggable-node-chart circle:hover, .draggableLine circle.selected, .draggableLine circle:hover {
  fill: #f1d8a6; }

@media -sass-debug-info{filename{}line{font-family:\00003503}}
rect.colorless {
  fill: #5a6ca1; }

@media -sass-debug-info{filename{}line{font-family:\00003509}}
.ui-button {
  border: 1px solid #a69b9e;
  padding: 5px; }

@media -sass-debug-info{filename{}line{font-family:\00003515}}
path.colorless {
  stroke: #405192; }
@media -sass-debug-info{filename{}line{font-family:\00003519}}
path.sparkline {
  stroke: #30878f;
  stroke-width: 1px;
  fill: none; }
@media -sass-debug-info{filename{}line{font-family:\00003524}}
path.line {
  fill: none;
  stroke-width: 2px; }
@media -sass-debug-info{filename{}line{font-family:\00003528}}
path.area {
  fill: #e7e7e7; }

@media -sass-debug-info{filename{}line{font-family:\00003533}}
div.tipsy.help-tip.seg-tipsy .tipsy-inner div {
  padding: 6px; }

/* Leaderboard */
@media -sass-debug-info{filename{}line{font-family:\00003540}}
.leaderboard.label {
  fill: #a69b9e;
  font-size: 20px;
  font-weight: bold; }
@media -sass-debug-info{filename{}line{font-family:\00003546}}
.leaderboard.value {
  font-size: 27px;
  fill: #3e3739;
  text-anchor: end;
  font-family: "ProximaNova", sans-serif;
  font-weight: 800;
  text-transform: uppercase; }
@media -sass-debug-info{filename{}line{font-family:\00003553}}
.leaderboard.change {
  fill: #a69b9e;
  font-size: 12px;
  font-family: "ProximaNova", sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
@media -sass-debug-info{filename{}line{font-family:\00003559}}
.leaderboard .triangle-down {
  fill: #dc6e59;
  stroke: none; }
@media -sass-debug-info{filename{}line{font-family:\00003564}}
.leaderboard .triangle-up {
  fill: #8ac16f;
  stroke: none; }
@media -sass-debug-info{filename{}line{font-family:\00003569}}
.leaderboard.track {
  fill: #e2dedf;
  stroke: none; }
@media -sass-debug-info{filename{}line{font-family:\00003574}}
.leaderboard.bar {
  fill: #30878f;
  stroke: none; }

/* Gauge */
@media -sass-debug-info{filename{}line{font-family:\00003583}}
.gauge.arc {
  fill: #e2dedf; }
@media -sass-debug-info{filename{}line{font-family:\00003587}}
.gauge.arc-value {
  fill: #30878f; }
@media -sass-debug-info{filename{}line{font-family:\00003591}}
.gauge.pointer-circle {
  fill: #faf9fa;
  stroke: #bfbfbf; }
@media -sass-debug-info{filename{}line{font-family:\00003596}}
.gauge.pointer, .gauge.pointer-nail {
  stroke: none;
  fill: #4c4345; }
@media -sass-debug-info{filename{}line{font-family:\00003601}}
.gauge.label {
  font-size: 27px;
  fill: #3e3739;
  text-anchor: middle;
  font-family: "ProximaNova", sans-serif;
  font-weight: 800;
  text-transform: uppercase; }

/*Bullet*/
@media -sass-debug-info{filename{}line{font-family:\00003610}}
.bullet {
  font: 10px sans-serif; }
@media -sass-debug-info{filename{}line{font-family:\00003612}}
  .bullet.title {
    font-size: 14px;
    font-weight: bold;
    fill: #3e3739; }
@media -sass-debug-info{filename{}line{font-family:\00003618}}
  .bullet.subtitle {
    fill: #a69b9e;
    font-size: 10px; }
