table.tablestakes
  thead
    tr.secondary
      td
      th 2012
      td
      td
      td
      td
      th 2013
      td
      td
      td
      td
      td
      td
    tr.row-heading
      th Category Name
      th.sortable Aug
      th.sortable.sorted-asc Sep
      th.sortable.sorted-desc Oct
      th.sortable Nov
      th.sortable Dec
      th.sortable Jan
      th.sortable Feb
      th.sortable Mar
      th.sortable Apr
      th.sortable May
      th.sortable Jun
      th.sortable Jul
  tbody
    tr
      td.collapsible collapsible
      td 
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
    tr
      td.indent1 Indent 1
      td.old 22
      td.old 32,567
      td.plan 1,234
      td.plan 987
      td.plan 125,897
      td.plan 12,986
      td 154
      td 67
      td 4
      td 456
      td 327
      td 14
    tr
      td.indent1 Indent 1
      td.old 22
      td.old 32,567
      td.plan 1,234
      td.plan 987
      td.plan 125,897
      td.plan 12,986
      td 54
      td 67
      td 4
      td 456
      td 327
      td 14
    tr
      td.collapsible.indent1 collapsible
      td 
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
    tr
      td.indent2 Indent 2
      td 22
      td 32,567
      td.plan 1,234
      td.plan 987
      td.plan 125,897
      td.plan 12,986
      td 54
      td 67
      td 4
      td 456
      td 327
      td 14
    tr.subtotal
      td Section Subtotal
      td 22
      td 32,567
      td.plan 1,234
      td.plan 987
      td.plan 125,897
      td.plan 12,986
      td 154
      td 67
      td 4
      td.light 456
      td 327
      td 14
    tr.spacer
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
    tr
      td.expandable Expandable
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
    tr
      td
        a(href='#') Independant Row (link)
      td 22
      td 32,567
      td.plan 1,234
      td.plan 987
      td.plan 125,897
      td.plan 12,986
      td 154
      td 67
      td 4
      td 456
      td 327
      td 14
    tr
      td Indy Row with %
      td 22
      td 32,567
      td.plan 1,234
      td.plan 987
      td.plan 125,897
      td.plan 12,986
      td 154
      td 67
      td 4
      td 456
      td 327
      td 14
    tr.percent
      td.percent change
      td
      td 32%
      td.plan 1%
      td.plan 98%
      td.plan 12%
      td.plan 2%
      td 15%
      td 67%
      td 4%
      td 56%
      td 32%
      td 14%
    tr
      td Indy Row with %
      td 22
      td 32,567
      td.plan 1,234
      td.plan 987
      td.plan 125,897
      td.plan 12,986
      td 154
      td 67
      td 4
      td 456
      td 327
      td 14
    tr.percent
      td percent change
      td
      td 32%
      td.plan 1%
      td.plan 98%
      td.plan 12%
      td.plan 2%
      td 15%
      td 67%
      td 4%
      td 56%
      td 32%
      td 14%
    tr
      td.editable Indy & Editable name
      td 22
      td 32,567
      td.plan 1,234
      td.plan 987
      td.plan 125,897
      td.plan 12,986
      td 154
      td 67
      td 4
      td 456
      td 327
      td 14
    tr.total
      td Overall Total
      td 22
      td 32,567
      td.plan 1,234
      td.plan 987
      td.plan 125,897
      td.plan 12,986
      td 154
      td 67
      td 4
      td 456
      td 327
      td 14