<div class="container">
  <div class="row">
    <div class="span3">
      <ul id="cartLinkList" class="nav nav-list">
        <li class="nav-header">Cartesian series</li>
      </ul>
      <ul id="noncartLinkList" class="nav nav-list">
        <li class="nav-header">Non-cartesian series</li>
      </ul>
      <ul id="compLinkList" class="nav nav-list">
        <li class="nav-header">Components</li>
      </ul>
    </div>

    <div class="span9">
      <h3 id="example_header"></h3>
      <div class="btn-group stack-unstack-buttons">
        <button id="stack" class="btn.btn-mini">stacked</button>
        <button id="group" class="btn.btn-mini">grouped</button>
      </div>

      <div id="example" class="widget-block">
        <div id="example_view" data-language="coffeescript"></div>
      </div>
      <h3>Code for example</h3>
      <pre>
        <code id="example_js" data-language="coffeescript" style="margin-left: -60px;"></code>
      </pre>
    </div>
    <hr>
  </div>
</div>
