/* Primary palette
-------------------------------------------------- */
/* Chart palette
-------------------------------------------------- */
/* Alert palette
-------------------------------------------------- */
/* line 8, ../src/scss/charts.scss */
#chart {
  width: 938px;
  height: 300px;
  overflow: hidden;
}

/* line 14, ../src/scss/charts.scss */
#chart-container {
  border: 1px solid #E6E6E6;
  margin-top: 20px;
  position: relative;
}
/* line 18, ../src/scss/charts.scss */
#chart-container .uncategorized {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  z-index: 1;
  border-left: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  background: #fff;
}
/* line 28, ../src/scss/charts.scss */
#chart-container .empty {
  background: #F2F2F3;
  color: #9B9DA1;
  font-weight: bold;
  height: 150px;
  font-size: 18px;
  line-height: 18px;
  padding-top: 132px;
  text-align: center;
  width: 938px;
}

/* graph */
/* line 42, ../src/scss/charts.scss */
.chart-container {
  position: relative;
}

/* line 46, ../src/scss/charts.scss */
.chart-widget {
  padding-left: 0;
}

/* line 51, ../src/scss/charts.scss */
.main-d3-chart.graph-container {
  left: 15px;
}

/* line 55, ../src/scss/charts.scss */
.graph-container svg * {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
  Introduced in IE 10.
  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

/* Specific rules for mini-charts */
/* line 71, ../src/scss/charts.scss */
.mini-chart-container.graph-container .gauge path {
  stroke: none;
}
/* line 76, ../src/scss/charts.scss */
.mini-chart-container.graph-container path {
  stroke: #30878f;
  stroke-width: 2;
}
/* line 80, ../src/scss/charts.scss */
.mini-chart-container.graph-container rect {
  stroke-width: .3;
  stroke: white;
  fill: #30878f;
}

/* line 87, ../src/scss/charts.scss */
.mini-chart-container {
  height: 38px;
}

/* line 91, ../src/scss/charts.scss */
.metric-inner-container {
  height: 225px;
}
/* line 94, ../src/scss/charts.scss */
.metric-inner-container .bar {
  fill: #30878f;
}

/* line 99, ../src/scss/charts.scss */
.metric-inner-container, .graph-container {
  position: relative;
}
/* line 102, ../src/scss/charts.scss */
.metric-inner-container svg, .graph-container svg {
  display: block;
  overflow: hidden;
}

/* axes */
/* line 115, ../src/scss/charts.scss */
.y-ticks {
  /* Don't display first tick of Y-axis */
}
/* line 117, ../src/scss/charts.scss */
.y-ticks g:first-child {
  opacity: 0 !important;
}
/* line 122, ../src/scss/charts.scss */
.y-ticks.plain path {
  fill: none;
  stroke: none;
}
/* line 127, ../src/scss/charts.scss */
.y-ticks.plain .tick {
  stroke: none;
}
/* line 131, ../src/scss/charts.scss */
.y-ticks path {
  fill: none;
  stroke: #808080;
}
/* line 136, ../src/scss/charts.scss */
.y-ticks .tick {
  stroke: rgba(0, 0, 0, 0.16);
  stroke-width: 2px;
  shape-rendering: crisp-edges;
  pointer-events: none;
}

/* line 145, ../src/scss/charts.scss */
.y-grid .tick {
  z-index: -1;
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 1 1;
}
/* line 151, ../src/scss/charts.scss */
.y-grid path {
  fill: none;
  stroke: none;
}

/* line 157, ../src/scss/charts.scss */
.y-ticks text {
  opacity: 0.5;
  pointer-events: none;
  fill: black;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 166, ../src/scss/charts.scss */
.x-tick {
  fill: black;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0px;
  pointer-events: none;
}
/* line 167, ../src/scss/charts.scss */
.x-tick.grid {
  border-left: 1px dotted rgba(0, 0, 0, 0.2);
}
/* line 178, ../src/scss/charts.scss */
.x-tick .title {
  position: absolute;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, sans-serif;
  opacity: 0.5;
  white-space: nowrap;
  margin-left: 3px;
  bottom: -10px;
  text-anchor: middle;
  left: -12px;
}
/* line 194, ../src/scss/charts.scss */
.x-tick.align-end .title {
  text-anchor: end;
}
/* line 198, ../src/scss/charts.scss */
.x-tick.align-start .title {
  text-anchor: start;
}
/* line 202, ../src/scss/charts.scss */
.x-tick.align-start .title {
  text-anchor: middle;
}

/* line 208, ../src/scss/charts.scss */
.x-tick.glow .title, .y-ticks.glow text {
  fill: black;
  color: black;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.1), 1px -1px 0 rgba(255, 255, 255, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.1), 0px 1px 0 rgba(255, 255, 255, 0.1), 0px -1px 0 rgba(255, 255, 255, 0.1), 1px 0px 0 rgba(255, 255, 255, 0.1), -1px 0px 0 rgba(255, 255, 255, 0.1), -1px -1px 0 rgba(255, 255, 255, 0.1);
}

/* line 221, ../src/scss/charts.scss */
.x-tick.inverse .title, .y-ticks.inverse text {
  fill: white;
  color: white;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8), 0px 1px 0 rgba(0, 0, 0, 0.8), 0px -1px 0 rgba(0, 0, 0, 0.8), 1px 0px 0 rgba(0, 0, 0, 0.8), -1px 0px 0 rgba(0, 0, 0, 0.8), -1px -1px 0 rgba(0, 0, 0, 0.8);
}

/* line 234, ../src/scss/charts.scss */
#y-axis {
  position: absolute;
  bottom: 0;
  width: 20px;
  left: 5px;
}

/* line 241, ../src/scss/charts.scss */
.y-axis {
  fill: none;
}

/* line 246, ../src/scss/charts.scss */
.axis.yAxis, .axis.xAxis {
  text-transform: uppercase !important;
  font-size: 11px;
  font-weight: bold;
  fill: #a69b9e;
}
/* line 251, ../src/scss/charts.scss */
.axis.yAxis line, .axis.yAxis path {
  stroke: #a69b9e;
  stroke-width: 2px;
}
/* line 256, ../src/scss/charts.scss */
.axis.yAxis .domain {
  stroke: none;
}

/* line 262, ../src/scss/charts.scss */
.axis {
  shape-rendering: crispEdges;
}

/* line 267, ../src/scss/charts.scss */
.xAxis.axis line {
  stroke: #fff;
}
/* line 271, ../src/scss/charts.scss */
.xAxis.axis .minor {
  stroke-opacity: .5;
}
/* line 275, ../src/scss/charts.scss */
.xAxis.axis path {
  display: none;
}

/* line 280, ../src/scss/charts.scss */
.yAxis.axis line, .yAxis.axis path {
  fill: none;
  stroke: #000;
}

/* legend */
/* line 288, ../src/scss/charts.scss */
#main-chart-legend .well {
  display: inline-block;
  padding: 5px;
}
/* line 293, ../src/scss/charts.scss */
#main-chart-legend .chart-legend {
  margin: 1px 0 0 15px;
  padding: 5px 0 0 0;
  list-style: none;
  *zoom: 1;
}
/* line 260, ../src/scss/mixins.scss */
#main-chart-legend .chart-legend:before, #main-chart-legend .chart-legend:after {
  display: table;
  content: "";
}
/* line 264, ../src/scss/mixins.scss */
#main-chart-legend .chart-legend:after {
  clear: both;
}
/* line 300, ../src/scss/charts.scss */
#main-chart-legend .chart-legend li {
  float: left;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  margin: 0 15px 5px 0;
}
/* line 305, ../src/scss/charts.scss */
#main-chart-legend .chart-legend li span {
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 6px 0 0;
  width: 6px;
  height: 6px;
  border-radius: 1em;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8), inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 315, ../src/scss/charts.scss */
#main-chart-legend .chart-legend li span.point-noise {
  background-color: #a69b9e;
}
/* line 316, ../src/scss/charts.scss */
#main-chart-legend .chart-legend li span.point-dogs {
  background-color: #dc6e59;
}
/* line 317, ../src/scss/charts.scss */
#main-chart-legend .chart-legend li span.point-sprouts {
  background-color: #19affe;
}
/* line 318, ../src/scss/charts.scss */
#main-chart-legend .chart-legend li span.point-stars {
  background-color: #8ac16f;
}

/* line 324, ../src/scss/charts.scss */
.chart-legend {
  margin: 0 0 10px 10px;
  color: #404040;
  overflow: hidden;
}
/* line 329, ../src/scss/charts.scss */
.chart-legend .legend-item {
  float: left;
  overflow: hidden;
  margin-right: 10px;
}
/* line 333, ../src/scss/charts.scss */
.chart-legend .legend-item .color, .chart-legend .legend-item .text {
  float: left;
}
/* line 336, ../src/scss/charts.scss */
.chart-legend .legend-item .color {
  width: 14px;
  height: 14px;
  border: 1px solid #E6E6E6;
  margin-right: 8px;
}
/* line 342, ../src/scss/charts.scss */
.chart-legend .legend-item .text {
  font-size: 14px;
  line-height: 16px;
}

/* hover detail */
/* line 352, ../src/scss/charts.scss */
.metric-inner-container .detail, .graph-container .detail {
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 1px;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
/* line 361, ../src/scss/charts.scss */
.metric-inner-container .detail.inactive, .graph-container .detail.inactive {
  opacity: 0;
}
/* line 365, ../src/scss/charts.scss */
.metric-inner-container .detail.no-line, .graph-container .detail.no-line {
  background: none;
}
/* line 369, ../src/scss/charts.scss */
.metric-inner-container .detail .item.active, .graph-container .detail .item.active {
  opacity: 1;
}
/* line 373, ../src/scss/charts.scss */
.metric-inner-container .detail .x_label, .graph-container .detail .x_label {
  font-family: Arial, sans-serif;
  border-radius: 3px;
  padding: 6px;
  opacity: 0.5;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  position: absolute;
  background: white;
  white-space: nowrap;
}
/* line 384, ../src/scss/charts.scss */
.metric-inner-container .detail .item, .graph-container .detail .item {
  text-transform: none;
  position: absolute;
  z-index: 2;
  border-radius: 3px;
  padding: 0.25em;
  font-size: 12px;
  font-family: Arial, sans-serif;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-left: 1em;
  margin-top: -1em;
  white-space: nowrap;
}
/* line 399, ../src/scss/charts.scss */
.metric-inner-container .detail .item.active, .graph-container .detail .item.active {
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
}
/* line 403, ../src/scss/charts.scss */
.metric-inner-container .detail .item:before, .graph-container .detail .item:before {
  content: "\25c2";
  position: absolute;
  left: -0.5em;
  color: rgba(0, 0, 0, 0.7);
  width: 0;
}
/* line 411, ../src/scss/charts.scss */
.metric-inner-container .detail .dot, .graph-container .detail .dot {
  width: 4px;
  height: 4px;
  margin-left: -3px;
  margin-top: -4px;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  background: white;
  border-width: 2px;
  border-style: solid;
  display: none;
  background-clip: padding-box;
}
/* line 424, ../src/scss/charts.scss */
.metric-inner-container .detail .dot.active, .graph-container .detail .dot.active {
  display: block;
}

/* line 431, ../src/scss/charts.scss */
.graph-container .tooltip {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
/* line 437, ../src/scss/charts.scss */
.graph-container .tooltip.right {
  padding-left: 5px;
  margin-left: 10px;
  margin-top: -11px;
}

/* sankey */
/* line 453, ../src/scss/charts.scss */
.sankey-chart .node {
  stroke: #fff;
  stroke-width: 2px;
}
/* line 458, ../src/scss/charts.scss */
.sankey-chart .link {
  fill: none;
  stroke: #000;
  opacity: .3;
}
/* line 463, ../src/scss/charts.scss */
.sankey-chart .link.on {
  stroke: #F00;
  opacity: .7;
}
/* line 468, ../src/scss/charts.scss */
.sankey-chart .node {
  stroke: none;
}

/* ScatterChart stylings */
/* Designers: I used an SVG viewbox to dynamically resize the chart  */
/* http://www.w3.org/TR/SVG/coords.html#ViewBoxAttribute */
/* You may find a better way to resize dynamically. */
/* Please don't hesitate to contact me for any info: esbullington on github */
/* line 483, ../src/scss/charts.scss */
.scatter circle.low {
  fill: #dc6e59;
}
/* line 484, ../src/scss/charts.scss */
.scatter circle.mid {
  fill: #19affe;
}
/* line 485, ../src/scss/charts.scss */
.scatter circle.high {
  fill: #8ac16f;
}

/* line 489, ../src/scss/charts.scss */
.graph-container circle.tip-hovered {
  stroke-width: 1;
}

/* line 494, ../src/scss/charts.scss */
.draggable-node-chart circle.selected, .draggable-node-chart circle:hover, .draggableLine circle.selected, .draggableLine circle:hover {
  fill: #f1d8a6;
}

/* line 499, ../src/scss/charts.scss */
rect.colorless {
  fill: #5a6ca1;
}

/* line 507, ../src/scss/charts.scss */
.ui-button {
  border: 1px solid #a69b9e;
  padding: 5px;
}

/* line 514, ../src/scss/charts.scss */
path.colorless {
  stroke: #405192;
}
/* line 518, ../src/scss/charts.scss */
path.sparkline {
  stroke: #30878f;
  stroke-width: 1px;
  fill: none;
}
/* line 523, ../src/scss/charts.scss */
path.line {
  fill: none;
  stroke-width: 2px;
}
/* line 527, ../src/scss/charts.scss */
path.area {
  fill: #e7e7e7;
}

/* line 533, ../src/scss/charts.scss */
div.tipsy.help-tip.seg-tipsy .tipsy-inner div {
  padding: 6px;
}

/* Leaderboard */
/* line 541, ../src/scss/charts.scss */
.leaderboard.label {
  fill: #a69b9e;
  font-size: 20px;
  font-weight: bold;
}
/* line 547, ../src/scss/charts.scss */
.leaderboard.value {
  font-size: 27px;
  fill: #3e3739;
  text-anchor: end;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
/* line 555, ../src/scss/charts.scss */
.leaderboard.change {
  fill: #a69b9e;
  font-size: 12px;
  font-family: 'ProximaNova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 562, ../src/scss/charts.scss */
.leaderboard .triangle-down {
  fill: #dc6e59;
  stroke: none;
}
/* line 567, ../src/scss/charts.scss */
.leaderboard .triangle-up {
  fill: #8ac16f;
  stroke: none;
}
/* line 572, ../src/scss/charts.scss */
.leaderboard.track {
  fill: #e2dedf;
  stroke: none;
}
/* line 577, ../src/scss/charts.scss */
.leaderboard.bar {
  fill: #30878f;
  stroke: none;
}

/* Gauge */
/* line 586, ../src/scss/charts.scss */
.gauge.arc {
  fill: #e2dedf;
}
/* line 590, ../src/scss/charts.scss */
.gauge.arc-value {
  fill: #30878f;
}
/* line 594, ../src/scss/charts.scss */
.gauge.pointer-circle {
  fill: #faf9fa;
  stroke: #bfbfbf;
}
/* line 599, ../src/scss/charts.scss */
.gauge.pointer, .gauge.pointer-nail {
  stroke: none;
  fill: #4c4345;
}
/* line 604, ../src/scss/charts.scss */
.gauge.label {
  font-size: 27px;
  fill: #3e3739;
  text-anchor: middle;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
