table.tablestakes.span4
  thead
    tr.row-heading
      th(class="#{className}")
        .resizeable-handle.left
        | Resizeable example
        .resizeable-handle.right
      th(class="#{className}")
        .resizeable-handle.left
        | Resizeable example
        .resizeable-handle.right
      th(class="#{className}")
        .resizeable-handle.left
        | Resizeable example
        .resizeable-handle.right
