table.tablestakes.span4
  tbody
    tr
      td(class="#{className}") 
        select
          optgroup(label="Picnic")
            option Mustard
            option Ketchup
            option Relish
          optgroup(label="Camping")
            option Tent
            option Flashlight
            option Toilet Pape