.tactile-dark-blue-10 {
  fill: #0b3748; }

.tactile-dark-blue-20 {
  fill: #254e5d; }

.tactile-dark-blue-30 {
  fill: #3f6672; }

.tactile-dark-blue-40 {
  fill: #597d88; }

.tactile-dark-blue-50 {
  fill: #73959d; }

.tactile-dark-blue-60 {
  fill: #8eadb3; }

.tactile-blue-10 {
  fill: #0c1b75; }

.tactile-blue-20 {
  fill: #263683; }

.tactile-blue-30 {
  fill: #405192; }

.tactile-blue-40 {
  fill: #5a6ca1; }

.tactile-blue-50 {
  fill: #7487b0; }

.tactile-blue-60 {
  fill: #8fa3bf; }

.tactile-azure-10 {
  fill: #003fc1; }

.tactile-azure-20 {
  fill: #2058c8; }

.tactile-azure-30 {
  fill: #4072d0; }

.tactile-azure-40 {
  fill: #608bd7; }

.tactile-azure-50 {
  fill: #80a5df; }

.tactile-azure-60 {
  fill: #a0bfe7; }

.tactile-light-blue-10 {
  fill: #4727c0; }

.tactile-light-blue-20 {
  fill: #6043c8; }

.tactile-light-blue-30 {
  fill: #795fd0; }

.tactile-light-blue-40 {
  fill: #927bd8; }

.tactile-light-blue-50 {
  fill: #ab87e0; }

.tactile-light-blue-60 {
  fill: #c5b3e9; }

.tactile-barn-red-10 {
  fill: #4e0002; }

.tactile-barn-red-20 {
  fill: #671e20; }

.tactile-barn-red-30 {
  fill: #813d3f; }

.tactile-barn-red-40 {
  fill: #9a5c5d; }

.tactile-barn-red-50 {
  fill: #b47b7c; }

.tactile-barn-red-60 {
  fill: #ce9a9b; }

.tactile-scarlet-red-10 {
  fill: #d21e17; }

.tactile-scarlet-red-20 {
  fill: #d83c36; }

.tactile-scarlet-red-30 {
  fill: #de5a55; }

.tactile-scarlet-red-40 {
  fill: #e47975; }

.tactile-scarlet-red-50 {
  fill: #ea9794; }

.tactile-scarlet-red-60 {
  fill: #f0b6b4; }

.tactile-alloy-orange-10 {
  fill: #c07200; }

.tactile-alloy-orange-20 {
  fill: #c98621; }

.tactile-alloy-orange-30 {
  fill: #d39a42; }

.tactile-alloy-orange-40 {
  fill: #ddaf63; }

.tactile-alloy-orange-50 {
  fill: #e7c384; }

.tactile-alloy-orange-60 {
  fill: #f1d8a6; }

.tactile-brown-10 {
  fill: #623c1c; }

.tactile-brown-20 {
  fill: #79593d; }

.tactile-brown-30 {
  fill: #90765f; }

.tactile-brown-40 {
  fill: #a79380; }

.tactile-brown-50 {
  fill: #beb0a2; }

.tactile-brown-60 {
  fill: #d6cdc4; }

.tactile-silver-grey-10 {
  fill: #777777; }

.tactile-silver-grey-20 {
  fill: #8a8a8a; }

.tactile-silver-grey-30 {
  fill: #9d9d9d; }

.tactile-silver-grey-40 {
  fill: #b1b1b1; }

.tactile-silver-grey-50 {
  fill: #c4c4c4; }

.tactile-silver-grey-60 {
  fill: #d8d8d8; }

.tactile-dark-grey-10 {
  fill: #414343; }

.tactile-dark-grey-20 {
  fill: #4d4f4f; }

.tactile-dark-grey-30 {
  fill: #5a5b5b; }

.tactile-dark-grey-40 {
  fill: #676868; }

.tactile-dark-grey-50 {
  fill: #747474; }

.tactile-dark-grey-60 {
  fill: #818181; }

#chart {
  width: 938px;
  height: 300px;
  overflow: hidden; }

#chart-container {
  border: 1px solid #d8d8d8;
  margin-top: 20px;
  position: relative; }
  #chart-container .uncategorized {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    z-index: 1;
    border-left: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    background: white; }
  #chart-container .empty {
    background: #d8d8d8;
    color: #9b9da1;
    font-weight: bold;
    height: 150px;
    font-size: 18px;
    line-height: 18px;
    padding-top: 132px;
    text-align: center;
    width: 938px; }

/* graph */
.chart-container {
  position: relative; }

.chart-widget {
  padding-left: 0; }

.main-d3-chart.graph-container {
  left: 15px; }

.graph-container svg * {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
  Introduced in IE 10.
  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none; }

/* Specific rules for mini-charts */
.mini-chart-container.graph-container .gauge path {
  stroke: none; }
.mini-chart-container.graph-container path {
  stroke: #d39a42;
  stroke-width: 2; }
.mini-chart-container.graph-container rect {
  stroke-width: 0.3;
  stroke: white;
  fill: #d39a42; }

.mini-chart-container {
  height: 38px; }

.metric-inner-container {
  height: 225px; }

.metric-inner-container, .graph-container {
  position: relative; }
  .metric-inner-container svg, .graph-container svg {
    display: block;
    overflow: hidden; }

/* axes */
.y-ticks.plain path, .y1-ticks.plain path {
  fill: none;
  stroke: none; }
.y-ticks.plain .tick, .y1-ticks.plain .tick {
  stroke: none; }
.y-ticks path, .y1-ticks path {
  fill: none;
  stroke: grey; }
.y-ticks .tick, .y1-ticks .tick {
  stroke: rgba(0, 0, 0, 0.16);
  stroke-width: 2px;
  shape-rendering: crisp-edges; }
.y-ticks text, .y1-ticks text {
  opacity: 0.5;
  fill: black;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold; }

.y-grid .tick {
  z-index: -1;
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 1 1; }
.y-grid path {
  fill: none;
  stroke: none; }

.x-ticks.plain path {
  fill: none;
  stroke: none; }

.x-tick, .x-ticks {
  fill: black;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0px; }
  .x-tick.grid, .x-ticks.grid {
    border-left: 1px dotted rgba(0, 0, 0, 0.2); }
  .x-tick .title, .x-tick text, .x-ticks .title, .x-ticks text {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.5;
    white-space: nowrap;
    text-anchor: middle; }
  .x-tick.align-end .title, .x-ticks.align-end .title {
    text-anchor: end; }
  .x-tick.align-start .title, .x-ticks.align-start .title {
    text-anchor: start; }

.x-tick.small .title {
  font-size: 10px; }

.x-tick.glow .title, .y-ticks.glow text {
  fill: black;
  color: black;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.1), 1px -1px 0 rgba(255, 255, 255, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.1), 0px 1px 0 rgba(255, 255, 255, 0.1), 0px -1px 0 rgba(255, 255, 255, 0.1), 1px 0px 0 rgba(255, 255, 255, 0.1), -1px 0px 0 rgba(255, 255, 255, 0.1), -1px -1px 0 rgba(255, 255, 255, 0.1); }

.x-tick.inverse .title, .y-ticks.inverse text {
  fill: white;
  color: white;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8), 0px 1px 0 rgba(0, 0, 0, 0.8), 0px -1px 0 rgba(0, 0, 0, 0.8), 1px 0px 0 rgba(0, 0, 0, 0.8), -1px 0px 0 rgba(0, 0, 0, 0.8), -1px -1px 0 rgba(0, 0, 0, 0.8); }

#y-axis {
  position: absolute;
  bottom: 0;
  width: 20px;
  left: 5px; }

.y-axis {
  fill: none; }

.axis.yAxis, .axis.xAxis {
  text-transform: uppercase !important;
  font-size: 11px;
  font-weight: bold;
  fill: #9d9d9d; }
.axis.yAxis line, .axis.yAxis path {
  stroke: #9d9d9d;
  stroke-width: 2px; }
.axis.yAxis .domain {
  stroke: none; }

.axis {
  shape-rendering: crispEdges; }

.xAxis.axis line {
  stroke: white; }
.xAxis.axis .minor {
  stroke-opacity: 0.5; }
.xAxis.axis path {
  display: none; }

.yAxis.axis line, .yAxis.axis path {
  fill: none;
  stroke: black; }

/* legend */
#main-chart-legend .well {
  display: inline-block;
  padding: 5px; }
#main-chart-legend .chart-legend {
  margin: 1px 0 0 15px;
  padding: 5px 0 0 0;
  list-style: none;
  *zoom: 1; }
  #main-chart-legend .chart-legend:before, #main-chart-legend .chart-legend:after {
    display: table;
    content: ""; }
  #main-chart-legend .chart-legend:after {
    clear: both; }
  #main-chart-legend .chart-legend li {
    float: left;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
    margin: 0 15px 5px 0; }
    #main-chart-legend .chart-legend li span {
      display: inline-block;
      position: relative;
      top: -2px;
      margin: 0 6px 0 0;
      width: 6px;
      height: 6px;
      border-radius: 1em;
      box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8), inset 1px 1px 1px rgba(0, 0, 0, 0.2); }
      #main-chart-legend .chart-legend li span.point-noise {
        background-color: #9d9d9d; }
      #main-chart-legend .chart-legend li span.point-dogs {
        background-color: #dc6e59; }
      #main-chart-legend .chart-legend li span.point-sprouts {
        background-color: #19affe; }
      #main-chart-legend .chart-legend li span.point-stars {
        background-color: #8ac16f; }

.chart-legend {
  margin: 0 0 10px 10px;
  color: #777777;
  overflow: hidden; }
  .chart-legend .legend-item {
    float: left;
    list-style: none;
    overflow: hidden;
    margin-right: 10px; }
    .chart-legend .legend-item.off .text {
      color: #777777; }
    .chart-legend .legend-item:hover {
      cursor: pointer; }
    .chart-legend .legend-item .color, .chart-legend .legend-item .text {
      float: left; }
    .chart-legend .legend-item .color {
      border-radius: 3px;
      width: 6px;
      height: 6px;
      border: 1px solid #d8d8d8;
      margin-right: 8px;
      margin-top: 5px; }
    .chart-legend .legend-item .text {
      font-size: 14px;
      line-height: 16px; }

/* hover detail */
.metric-inner-container .detail, .graph-container .detail {
  position: absolute;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 1px;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear; }
  .metric-inner-container .detail.inactive, .graph-container .detail.inactive {
    opacity: 0; }
  .metric-inner-container .detail.no-line, .graph-container .detail.no-line {
    background: none; }
  .metric-inner-container .detail .item.active, .graph-container .detail .item.active {
    opacity: 1; }
  .metric-inner-container .detail .x_label, .graph-container .detail .x_label {
    border-radius: 3px;
    padding: 6px;
    opacity: 0.5;
    border: 1px solid #d8d8d8;
    font-size: 12px;
    position: absolute;
    background: white;
    white-space: nowrap; }
  .metric-inner-container .detail .item, .graph-container .detail .item {
    text-transform: none;
    position: absolute;
    z-index: 2;
    border-radius: 3px;
    padding: 0.25em;
    font-size: 12px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: 1em;
    margin-top: -1em;
    white-space: nowrap; }
    .metric-inner-container .detail .item.active, .graph-container .detail .item.active {
      opacity: 1;
      background: rgba(0, 0, 0, 0.8); }
    .metric-inner-container .detail .item:before, .graph-container .detail .item:before {
      content: "\25c2";
      position: absolute;
      left: -0.5em;
      color: rgba(0, 0, 0, 0.7);
      width: 0; }
  .metric-inner-container .detail .dot, .graph-container .detail .dot {
    width: 4px;
    height: 4px;
    margin-left: -3px;
    margin-top: -4px;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: white;
    border-width: 2px;
    border-style: solid;
    display: none;
    background-clip: padding-box; }
    .metric-inner-container .detail .dot.active, .graph-container .detail .dot.active {
      display: block; }

.graph-container .tooltip {
  padding: 0;
  margin: 0;
  white-space: nowrap; }
.graph-container .tooltip.right {
  padding-left: 5px;
  margin-left: 10px;
  margin-top: -11px; }

/* sankey */
.sankey-chart .node {
  stroke: white;
  stroke-width: 2px; }
.sankey-chart .link {
  fill: none;
  stroke: black;
  opacity: 0.3; }
.sankey-chart .link.on {
  stroke: red;
  opacity: 0.7; }
.sankey-chart .node {
  stroke: none; }

/* ScatterChart stylings */
/* Designers: I used an SVG viewbox to dynamically resize the chart  */
/* http://www.w3.org/TR/SVG/coords.html#ViewBoxAttribute */
/* You may find a better way to resize dynamically. */
/* Please don't hesitate to contact me for any info: esbullington on github */
.scatter circle.low {
  fill: #dc6e59; }
.scatter circle.mid {
  fill: #19affe; }
.scatter circle.high {
  fill: #8ac16f; }

.graph-container circle.tip-hovered {
  stroke-width: 1; }

.draggable-node-chart circle.selected, .draggable-node-chart circle:hover, .draggableLine circle.selected, .draggableLine circle:hover {
  fill: #f1d8a6; }

rect.colorless {
  fill: #5a6ca1; }

.ui-button {
  border: 1px solid #9d9d9d;
  padding: 5px; }

path.colorless {
  stroke: #405192; }
path.sparkline {
  stroke: #d39a42;
  stroke-width: 1px;
  fill: none; }
path.line {
  fill: none;
  stroke-width: 2px; }
path.area {
  fill: #e7e7e7; }

div.tipsy.help-tip.seg-tipsy .tipsy-inner div {
  padding: 6px; }

/* Leaderboard */
.leaderboard-normal.label {
  fill: #777777;
  font-size: 20px;
  font-weight: bold; }
.leaderboard-normal.value {
  font-size: 27px;
  fill: #777777;
  text-anchor: end;
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase; }
.leaderboard-normal.change {
  fill: #b1b1b1;
  font-size: 12px;
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
.leaderboard-normal .triangle-down {
  fill: #dc6e59;
  stroke: none; }
.leaderboard-normal .triangle-up {
  fill: #8ac16f;
  stroke: none; }
.leaderboard-normal.track {
  fill: #d8d8d8;
  stroke: none; }
.leaderboard-normal.bar {
  fill: #405192;
  stroke: none; }

.leaderboard-small.label {
  fill: #777777;
  font-size: 15px;
  font-weight: bold; }
.leaderboard-small.value {
  font-size: 20px;
  fill: #777777;
  text-anchor: end;
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase; }
.leaderboard-small.change {
  fill: #b1b1b1;
  font-size: 10px;
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
.leaderboard-small .triangle-down {
  fill: #dc6e59;
  stroke: none; }
.leaderboard-small .triangle-up {
  fill: #8ac16f;
  stroke: none; }
.leaderboard-small.track {
  fill: #d8d8d8;
  stroke: none; }
.leaderboard-small.bar {
  fill: #405192;
  stroke: none; }

/* Gauge */
.gauge.arc {
  fill: #d8d8d8; }
.gauge.arc-value {
  fill: #405192; }
.gauge.pointer-circle {
  fill: #d8d8d8;
  stroke: #777777; }
.gauge.pointer, .gauge.pointer-nail {
  stroke: none;
  fill: #777777; }
.gauge.label {
  font-size: 27px;
  fill: #777777;
  text-anchor: middle;
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase; }

/*Bullet*/
.bullet {
  font-size: 10px;
  font-family: 'ProximaNova', "Helvetica Neue", Helvetica, sans-serif; }
  .bullet.title {
    font-size: 14px;
    font-weight: bold;
    fill: #777777; }
  .bullet.subtitle {
    fill: #9d9d9d;
    font-size: 10px; }
