// Colors
//
// description
//
// .tactile-dark-blue-10 - dark blue
// .tactile-dark-blue-20 - dark blue
// .tactile-dark-blue-30 - dark blue
// .tactile-dark-blue-40 - dark blue
// .tactile-dark-blue-50 - dark blue
// .tactile-dark-blue-60 - dark blue
// .tactile-blue-10 - blue
// .tactile-blue-20 - blue
// .tactile-blue-30 - blue
// .tactile-blue-40 - blue
// .tactile-blue-50 - blue
// .tactile-blue-60 - blue
// .tactile-azure-10 - azure
// .tactile-azure-20 - azure
// .tactile-azure-30 - azure
// .tactile-azure-40 - azure
// .tactile-azure-50 - azure
// .tactile-azure-60 - azure
// .tactile-light-blue-10 - light blue
// .tactile-light-blue-20 - light blue
// .tactile-light-blue-30 - light blue
// .tactile-light-blue-40 - light blue
// .tactile-light-blue-50 - light blue
// .tactile-light-blue-60 - light blue
// .tactile-barn-red-10 - barn red
// .tactile-barn-red-20 - barn red
// .tactile-barn-red-30 - barn red
// .tactile-barn-red-40 - barn red
// .tactile-barn-red-50 - barn red
// .tactile-barn-red-60 - barn red
// .tactile-scarlet-red-10 - scarlet red
// .tactile-scarlet-red-20 - scarlet red
// .tactile-scarlet-red-30 - scarlet red
// .tactile-scarlet-red-40 - scarlet red
// .tactile-scarlet-red-50 - scarlet red
// .tactile-scarlet-red-60 - scarlet red
// .tactile-alloy-orange-10 - alloy orange
// .tactile-alloy-orange-20 - alloy orange
// .tactile-alloy-orange-30 - alloy orange
// .tactile-alloy-orange-40 - alloy orange
// .tactile-alloy-orange-50 - alloy orange
// .tactile-alloy-orange-60 - alloy orange
// .tactile-brown-10 - brown
// .tactile-brown-20 - brown
// .tactile-brown-30 - brown
// .tactile-brown-40 - brown
// .tactile-brown-50 - brown
// .tactile-brown-60 - brown
// .tactile-silver-grey-10 - silver grey
// .tactile-silver-grey-20 - silver grey
// .tactile-silver-grey-30 - silver grey
// .tactile-silver-grey-40 - silver grey
// .tactile-silver-grey-50 - silver grey
// .tactile-silver-grey-60 - silver grey
// .tactile-dark-grey-10 - dark grey
// .tactile-dark-grey-20 - dark grey
// .tactile-dark-grey-30 - dark grey
// .tactile-dark-grey-40 - dark grey
// .tactile-dark-grey-50 - dark grey
// .tactile-dark-grey-60 - dark grey
//
// Styleguide 1.1

// dark blue
.tactile-dark-blue-10                   {fill: $dark-blue-10;}
.tactile-dark-blue-20                   {fill: $dark-blue-20;}
.tactile-dark-blue-30                   {fill: $dark-blue-30;}
.tactile-dark-blue-40                   {fill: $dark-blue-40;}
.tactile-dark-blue-50                   {fill: $dark-blue-50;}
.tactile-dark-blue-60                   {fill: $dark-blue-60;}

// blue
.tactile-blue-10                        {fill: $blue-10;}
.tactile-blue-20                        {fill: $blue-20;}
.tactile-blue-30                        {fill: $blue-30;}
.tactile-blue-40                        {fill: $blue-40;}
.tactile-blue-50                        {fill: $blue-50;}
.tactile-blue-60                        {fill: $blue-60;}

// azure
.tactile-azure-10                       {fill: $azure-10;}
.tactile-azure-20                       {fill: $azure-20;}
.tactile-azure-30                       {fill: $azure-30;}
.tactile-azure-40                       {fill: $azure-40;}
.tactile-azure-50                       {fill: $azure-50;}
.tactile-azure-60                       {fill: $azure-60;}

// light blue
.tactile-light-blue-10                  {fill: $light-blue-10;}
.tactile-light-blue-20                  {fill: $light-blue-20;}
.tactile-light-blue-30                  {fill: $light-blue-30;}
.tactile-light-blue-40                  {fill: $light-blue-40;}
.tactile-light-blue-50                  {fill: $light-blue-50;}
.tactile-light-blue-60                  {fill: $light-blue-60;}

// barn red
.tactile-barn-red-10                    {fill: $barn-red-10;}
.tactile-barn-red-20                    {fill: $barn-red-20;}
.tactile-barn-red-30                    {fill: $barn-red-30;}
.tactile-barn-red-40                    {fill: $barn-red-40;}
.tactile-barn-red-50                    {fill: $barn-red-50;}
.tactile-barn-red-60                    {fill: $barn-red-60;}

// scarlet red
.tactile-scarlet-red-10                 {fill: $scarlet-red-10;}
.tactile-scarlet-red-20                 {fill: $scarlet-red-20;}
.tactile-scarlet-red-30                 {fill: $scarlet-red-30;}
.tactile-scarlet-red-40                 {fill: $scarlet-red-40;}
.tactile-scarlet-red-50                 {fill: $scarlet-red-50;}
.tactile-scarlet-red-60                 {fill: $scarlet-red-60;}

// alloy orange
.tactile-alloy-orange-10                {fill: $alloy-orange-10;}
.tactile-alloy-orange-20                {fill: $alloy-orange-20;}
.tactile-alloy-orange-30                {fill: $alloy-orange-30;}
.tactile-alloy-orange-40                {fill: $alloy-orange-40;}
.tactile-alloy-orange-50                {fill: $alloy-orange-50;}
.tactile-alloy-orange-60                {fill: $alloy-orange-60;}

// brown
.tactile-brown-10                       {fill: $brown-10;}
.tactile-brown-20                       {fill: $brown-20;}
.tactile-brown-30                       {fill: $brown-30;}
.tactile-brown-40                       {fill: $brown-40;}
.tactile-brown-50                       {fill: $brown-50;}
.tactile-brown-60                       {fill: $brown-60;}

// sliver grey
.tactile-silver-grey-10                 {fill: $silver-grey-10;}
.tactile-silver-grey-20                 {fill: $silver-grey-20;}
.tactile-silver-grey-30                 {fill: $silver-grey-30;}
.tactile-silver-grey-40                 {fill: $silver-grey-40;}
.tactile-silver-grey-50                 {fill: $silver-grey-50;}
.tactile-silver-grey-60                 {fill: $silver-grey-60;}

// dark grey
.tactile-dark-grey-10                   {fill: $dark-grey-10;}
.tactile-dark-grey-20                   {fill: $dark-grey-20;}
.tactile-dark-grey-30                   {fill: $dark-grey-30;}
.tactile-dark-grey-40                   {fill: $dark-grey-40;}
.tactile-dark-grey-50                   {fill: $dark-grey-50;}
.tactile-dark-grey-60                   {fill: $dark-grey-60;}